body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #683051;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #683051;
    border-radius: 5px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 2em 0;
}

#hero {
    background-color: #e0f7fa;
    text-align: center;
    padding: 4em 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#hero h2 {
    margin: 0;
    font-size: 2.5em;
}

#hero p {
    font-size: 1.2em;
    margin: 1em 0;
}

.cta-button {
    background-color: #683051;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #683051;
}

#about, #skills, #contact {
    background-color: #fff;
    padding: 2em 0;
    margin: 2em 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    border-bottom: 2px solid #683051;
    display: inline-block;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0;
    list-style: none;
}

.skills-list li {
    background-color: #683051;
    color: #fff;
    padding: 0.5em;
    border-radius: 5px;
    flex: 1 0 30%;
    text-align: center;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
}
